# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
# scikit-learn
opencv-python
tensorflow-cpu

# tests/linter
# black
# coverage
# flake8
# pytest
# yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs
cloudinary


# utilities
six>=1.14
joblib
memoized-property
termcolor
python-dotenv
flask
beautifulsoup4==4.9.3
selenium
webdriver_manager
chromedriver
lxml
