<!DOCTYPE html>

<html lang="en">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
      <title>Crate Scanner</title>
  </head>

  <body>
    <h1>Welcome to Crate Scanner</h1>
    <p>{{price}}</p>

    <button id="upload_widget" class="cloudinary-button">Upload files</button>
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
    <script type="text/javascript">
      var myWidget = cloudinary.createUploadWidget({
        cloudName: 'denxahfzs',
        uploadPreset: 'eawdr8fw',
        cropping: 'true',
        croppingCoordinatesMode: 'custom',
        sources: ['local', 'camera']

      }, (error, result) => {
          if (!error && result && result.event === "success") {
            console.log('Done! Here is the image url: ', result.info.url);
            window.location.href = "/result?url=" + result.info.url;
          }
        }
      )
      document.getElementById("upload_widget").addEventListener("click", function(){
          myWidget.open();
        }, false);
    </script>
  </body>
</html>
