<!DOCTYPE html>

<html lang="en">
  <head>
      <!-- <meta charset="UTF-8"> -->
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;600;700&display=swap" rel="stylesheet">
      <title>Crate Scanner</title>
  </head>

  <body>
    <div class="container">
       <div>
        <image style="height: 300px; margin-bottom:175px" src="{{url_for('static',filename = 'logo.png')}}" >
      </div>
      <h1>Crate Scanner</h1>
      <h2>VINYL RECOGNITION</h2>

      <button id="upload_widget" class="cloudinary-button">UPLOAD</button>
      <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
      <script type="text/javascript">
        var myWidget = cloudinary.createUploadWidget({
          cloudName: 'denxahfzs',
          uploadPreset: 'eawdr8fw',
          cropping: 'true',
          croppingCoordinatesMode: 'custom',
          sources: ['local', 'camera']

        }, (error, result) => {
            if (!error && result && result.event === "success") {
              console.log('Done! Here is the image url: ', result.info.url);
              window.location.href = "/result?url=" + result.info.url;
            }
          }
        )
        document.getElementById("upload_widget").addEventListener("click", function(){
            myWidget.open();
          }, false);
      </script>
    </div>
  </body>
</html>
